# vim:fileencoding=utf-8:ft=kitty:foldmethod=marker

include colors-kitty.conf

font_family JetBrains Mono
{{- if eq .installprofile "laptop" }}
font_size 12.0
wheel_scroll_multiplier 10.0
{{- else }}
font_size 11.0
wheel_scroll_multiplier 5.0
{{- end }}
text_composition_strategy 0.85 0

disable_ligatures never
modify_font underline_position 3
modify_font underline_thickness 150%

cursor_text_color background
cursor_shape beam
cursor_blink_interval 0.6
cursor_stop_blinking_after 0

url_style single
open_url_with /usr/bin/firefox

sync_to_monitor yes

tab_bar_edge top
tab_bar_style powerline

allow_remote_control socket-only

kitty_mod ctrl+shift
map kitty_mod+c copy_to_clipboard
map kitty_mod+w close_tab
map kitty_mod+h previous_tab
map kitty_mod+l next_tab
map kitty_mod+t new_tab_with_cwd
map kitty_mod+p next_layout
# map ctrl+l combine : clear_terminal scroll active : send_text normal,application
