RESTIC_BACKUP_PATHS=(${HOME}/Desktop ${HOME}/Documents ${HOME}/Music ${HOME}/Pictures ${HOME}/Videos ${HOME}/git)
RESTIC_PASSWORD_COMMAND="secret-tool lookup Title {{ .chezmoi.hostname }}-linux-restic"
BACKUP_TAG={{ .chezmoi.hostname }}
BACKUP_NAME=restic-backup-tool
RESTIC_REPOSITORY_PATH="/mnt/backup/{{ .chezmoi.hostname }}-linux"
RETENTION_SNAPSHOTS=4
GOMAXPROCS=18
RESTIC_READ_CONCURRENCY=4
RESTIC_PACK_SIZE=64
DELAY_AFTER_BOOT=900
