configuration {
    modi: "drun,ssh,calc";
{{- if (eq .chassistype "laptop") }}
    font: "JetBrainsMono Nerd Font 16";
{{- else }}
    font: "JetBrainsMono Nerd Font 11";
{{- end }}
    show-icons: true;
    terminal: "kitty";
    ssh-command: "{terminal} {ssh-client} {host} [-p {port}]";
    window-thumbnail: true;
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}
@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
