# vim: ft=toml
{{- $chassisType := "desktop" }}
{{- if contains "WSL" (output "uname" "-r") }}
{{-     $chassisType = "wsl" }}
{{- else if (eq .chezmoi.os "darwin") }}
{{-     if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-         $chassisType = "laptop" }}
{{-     else }}
{{-         $chassisType = "desktop" }}
{{-     end }}
{{- else if (eq .chezmoi.os "linux") }}
{{-     $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if (eq .chezmoi.os "windows") }}
{{-     $chassisType = (output "powershell.exe" "-noprofile" "-command" "if (Get-WmiObject -Class win32_battery -ComputerName localhost) { echo laptop } else { echo desktop }") }}
{{- end }}
{{- writeToStdout (cat "available options: desktop (3 screen setup), laptop (1 screen setup), wsl (basic terminal-only setup in Arch distro)\n") }}
{{- writeToStdout (cat "chezmoi has determined it is running on" $chassisType "\n") }}
{{- if (not (promptBool "Is this correct? [Y/n]" true)) }}
{{-     writeToStdout "what is the chassis type? [desktop, laptop, wsl] " }}
{{-     $newChassisType := (promptString "") }}
{{-     if (or (eq $newChassisType "desktop") (eq $newChassisType "laptop") (eq $newChassisType "wsl")) }}
{{-         $chassisType = $newChassisType }}
{{-     else }}
{{-         writeToStdout (cat "Error: unexpected input: " $newChassisType "\nWriting" $chassisType "to chezmoi config instead.\nRun \"chezmoi init\" if this is incorrect.\n") }}
{{-     end }}
{{- end }}
{{- if not (eq .chezmoi.osRelease.id "arch") }}
{{-     writeToStdout (cat "chezmoi has detected that this is not an Arch Linux system, disabling install scripts...") }}
{{-     output ("sh" .chezmoi.sourceDir "/install/disable-install.sh") }}
{{- else }}
{{-     writeToStdout "\nIf you don't want the setup scripts to run automatically,\nensure you execute " .chezmoi.sourceDir "/install/disable-install.sh prior to running \"chezmoi apply\"\n" }}
{{- end }}

[data]
    chassistype = {{ $chassisType | quote }}
{{- if not (eq $chassisType "wsl") }}
    firefoxhash = {{ mozillaInstallHash "/usr/lib/firefox" | quote }}
{{- end -}}
