[user]
    email = ty@tyrumus.dev
    name = Tyron Rieckmann
	signingkey = 94B920BE113E4F6D
[init]
    defaultBranch = master
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
{{ if or (eq .chassistype "desktop") (eq .chassistype "laptop") }}
[credential]
	helper = keepassxc
{{- end }}
