{{- if (eq .installtype "full") -}}
#!/usr/bin/zsh
# vim: ft=zsh

BLOCK_FILE="$HOME/.cache/chezmoi-install"

# check if this script has already been ran.
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

### SPECIAL PRINT FUNCTIONS ###
ssp() {
    echo -en "\033[1m"
    echo -en "\033[32m"
    echo -n "==> "
    echo -en "\033[39m"
    echo -en "CHEZMOI: ${1}"
    echo -e "\033[0m"
}

sp() {
    echo -en "\033[1m"
    echo -en "\033[34m"
    echo -n "  -> "
    echo -en "\033[39m"
    echo -en "$1"
    echo -e "\033[0m"
}


### PACKAGE INSTALL ###

ssp "INSTALLING ALL PACKAGES"

# packages expected to already be installed: chezmoi dhcpcd [iwd] git linux-lts [nvidia-lts] sudo wget zsh

PACKAGES_SYS="ntfs-3g pam-u2f"
PACKAGES_TERMINAL="hyperfine httpie bandwhich downgrade fd bottom bat bind duf eza git git-lfs github-cli gum fzf xdg-user-dirs imagemagick unzip zip zsh wget lazygit pacman-contrib openssh man-db macchina-bin neovim vifm vifm-colors-git reflector ripgrep smbclient speedtest-cli sudo which curlie procs rustup sd tokei zoxide yt-dlp jq"
PACKAGES_GUI="handlr chromium clipman discord electrum firefox gnucash plasma-desktop kde-system-meta git-credential-keepassxc keepassxc kitty ttf-jetbrains-mono ttf-nerd-fonts-symbols obsidian pipewire pipewire-alsa pipewire-jack pipewire-pulse wireplumber spotify syncthing pavucontrol vlc ufw smartmontools yubikey-manager samba cifs-utils"
# PACKAGES_WORKSTATION="docker docker-compose handbrake audacity gimp blender yabridge inkscape steam obs-studio samba cifs-utils intel-compute-runtime mesa intel-media-driver vulkan-intel level-zero-headers level-zero-loader vulkan-mesa-layers intel-gpu-tools looking-glass mesa-utils obs-plugin-looking-glass onevpl-intel-gpu perf polymc-qt5-bin virt-manager wine-mono kexec-tools"
PACKAGES_WORKSTATION="handbrake audacity gimp blender yabridge inkscape steam obs-studio looking-glass mesa-utils obs-plugin-looking-glass virt-manager wine-mono kexec-tools"
PACKAGES_LAPTOP="acpi bluez brightnessctl tlp"

PACKAGES="${PACKAGES_TERMINAL}"

{{- if .laptop }}
sp "Including laptop packages"
PACKAGES="${PACKAGES} ${PACKAGES_SYS} ${PACKAGES_GUI} ${PACKAGES_LAPTOP}"
{{- else }}
sp "Including workstation packages"
PACKAGES="${PACKAGES} ${PACKAGES_SYS} ${PACKAGES_GUI} ${PACKAGES_WORKSTATION}"
{{- end }}

# install all the packages
paru -Sy "${=PACKAGES}"

ssp "ALL PACKAGES INSTALLED"

# xdg-user-dirs
ssp "BEGINNING HOME FOLDER SETUP"

sp "Updating XDG user folders"
xdg-user-dirs-update

sp "Creating extra home folders"
mkdir "$HOME/rsync"
mkdir "$HOME/notes"

# nvim setup
sp "Starting headless Neovim install"
nvim --headless "+Lazy! sync" +qa

sp "Installing Git LFS"
git lfs install

### INIT SERVICES ###

sp "Enabling user systemd services"
systemctl --user daemon-reload
systemctl --user enable --now restic-backup-tool.timer
systemctl enable --user pipewire.service
systemctl enable --user pipewire-pulse.service
systemctl enable --user ssh-agent.service

### CHEZMOI REMINDERS ###
sp "Generating post-install reminder file"
cat >>~/.cache/chezmoi-reminders.zsh <<EOL
#!/usr/bin/zsh

echo "Don't forget to configure the following stuff and things when you're ready:"

echo "After syncing password database with Syncthing, unlock it and run:"
echo "\$ git-credential-keepassxc configure"

echo "Delete \$\{0\} to stop these reminders."
EOL

ssp "INSTALL UTILS SCRIPT COMPLETE"
{{- end }}
