{{- if not (stat (joinPath .chezmoi.homeDir ".cache/chezmoi-install")) -}}
#!/usr/bin/zsh

BLOCK_FILE="$HOME/.cache/chezmoi-install"

# check if this script has already been ran. Unnecessary with chezmoi template, but better safe than sorry
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

# packages expected to already be installed: chezmoi dhcpcd [iwd] git linux-lts nvidia-lts sudo wget zsh

PACKAGES_SYS="base-devel clipman dunst greetd greetd-tuigreet xorg-server man-db ntfs-3g openssh pacman-contrib pam-u2f pipewire pipewire-alsa pipewire-jack pipewire-pulse pipewire-media-session reflector sudo sway swayidle swaylock-effects udiskie unzip waybar wget gammastep rofi rofi-calc wtype xdg-user-dirs xorg-xwayland zip zsh xfce4 xmousepasteblock-git"
PACKAGES_USER="bat discord duf electrum exa firefox fzf gnucash grimshot imagemagick keepassxc qt5-wayland kitty lazygit lxqt-openssh-askpass neofetch neovim obsidian ranger ripgrep rustup smbclient speedtest-cli spotify spotifyd syncthing teamviewer which wlogout pavucontrol vlc zsh-theme-powerlevel10k-git"
PACKAGES_WORKSTATION="gimp blender bitwig-studio steam obs-studio"
PACKAGES_LAPTOP="acpi bluez brightnessctl tlp"

PACKAGES="${PACKAGES_SYS} ${PACKAGES_USER}"

{{- if eq .chassistype "laptop" }}
PACKAGES="${PACKAGES} ${PACKAGES_LAPTOP}"
{{- else }}
PACKAGES="${PACKAGES} ${PACKAGES_WORKSTATION}"
{{- end }}

echo "==> INSTALLING ALL PACKAGES"
# install all the packages
paru -Sy "${=PACKAGES}"

echo "==> ALL PACKAGES INSTALLED"

# xdg-user-dirs
xdg-user-dirs-update
mkdir "$HOME/rsync"
mkdir "$HOME/notes"

# nvim setup
nvim --headless -c "autocmd User PackerComplete quitall"

### INIT SERVICES ###

systemctl enable --user pipewire.service
systemctl enable --user pipewire-pulse.service
systemctl enable --user ssh-agent.service
systemctl enable --user udiskie.service

echo "==> ALL USER SERVICES ENABLED"
{{- end -}}
