{{- if (eq .installtype "full") -}}
#!/usr/bin/zsh
# vim: ft=zsh

# calculate firefox default-release path
FF_HASH={{ .firefoxhash }}
FF_PATH={{ .chezmoi.homeDir }}/.mozilla/firefox
FF_INSTALLS="${FF_PATH}/installs.ini"
SRC={{ .chezmoi.sourceDir }}
SRC_PATH="${SRC}/ff-chrome"

SUCCESS=false
FF_PATH_RESULT=0
while read -r line; do
    if [[ ${SUCCESS} == true ]]; then
        DATA=$(echo "${line}" | cut -d "=" -f 2)
        FF_PATH_RESULT="${FF_PATH}/${DATA}"
        break
    fi
    if [[ "${line}" == "[${FF_HASH}]" ]]; then
        SUCCESS=true
    fi
done < ${FF_INSTALLS}

# evalute all files in source and target states
for file in ${SRC_PATH}/*; do
    if [ -f "${file}" ]; then
        DEST_NAME=$(basename "${file}")
        DEST="${FF_PATH_RESULT}/chrome/${DEST_NAME}"
        mkdir -p "${FF_PATH_RESULT}/chrome"
        if [[ -f "${DEST_NAME}" ]]; then
            if [[ "${DEST}" -ot "${file}" ]]; then
                # overwrite
                cp -f "${file}" "${DEST}"
            elif [[ "${DEST}" -nt "${file}" ]]; then
                # warn user and don't overwrite
                echo "FF WARNING: this computer has a newer version of ${DEST_NAME} than the chezmoi repo. Skipping copy..."
            fi # files are otherwise the same age
        else
            cp -f "${file}" "${DEST}"
        fi
    fi
done

{{- end -}}
