{{- if not (stat (joinPath .chezmoi.homeDir ".cache/chezmoi-paru")) -}}
#!/usr/bin/zsh
# vim: ft=zsh

BLOCK_FILE="$HOME/.cache/chezmoi-paru"

# check if this script has already been ran. Unnecessary with chezmoi template, but better safe than sorry
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

ssp() {
    echo -en "\033[1m"
    echo -en "\033[32m"
    echo -n "==> "
    echo -en "\033[39m"
    echo -en "CHEZMOI: ${1}"
    echo -e "\033[0m"
}

ssp "INSTALLING NECESSARY UTILITIES"
pacman -S base-devel git rustup

sp "Installing latest Rust toolchain"
rustup toolchain install stable

# download and setup paru
ssp "STARTING PARU INSTALL"

git clone https://aur.archlinux.org/paru.git /tmp/paru
cd /tmp/paru
makepkg -si --noconfirm

ssp "PARU INSTALL COMPLETE"
{{- if eq .chassistype "wsl" -}}
# i don't want anything extra set up in WSL
touch "${HOME}/.cache/chezmoi-install"
touch "${HOME}/.cache/chezmoi-root"
ssp "WSL INSTALL COMPLETE. You'll need to install what you want manually... :)"
{{- end -}}
{{- end -}}
