{{- if not (stat (joinPath .chezmoi.homeDir ".cache/chezmoi-root")) -}}
#!/usr/bin/zsh

BLOCK_FILE="$HOME/.cache/chezmoi-root"

# check if this script has already been ran. Unnecessary with chezmoi template, but better safe than sorry
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

# run this script only as root, only after performing the above check
if [ "$EUID" != 0 ]; then
    sudo "$0" "$@"
    exit $?
fi

# Run config setup stuff that can only be done as root

echo "==> WRITING SYSTEM CONFIG FILES"

# sshd
mkdir -p /etc/ssh/sshd_config.d
cat >>/etc/ssh/sshd_config.d/10-naddan-chezmoi.conf <<EOL
Port 22
PermitRootLogin no
MaxAuthTries 3
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
TCPKeepAlive yes
Compression delayed
EOL

# systemd
echo "RebootWatchdogSec=0" >> /etc/systemd/system.conf
echo "DefaultTimeoutStopSec=10s" >> /etc/systemd/system.conf
mkdir -p /etc/systemd/logind.conf.d
cat >>/etc/systemd/logind.conf.d/10-naddan-chezmoi.conf <<EOL
[Login]
HandlePowerKey=ignore
HandleSuspendKey=suspend
HandleHibernateKey=ignore
HandleLidSwitch=suspend
HandleLidSwitchExternalPower=ignore
HandleLidSwitchDocked=ignore
HandleRebootKey=ignore
EOL

### INIT SERVICES ###
echo "==> ENABLING SYSTEM SERVICES"
systemctl enable sddm.service
systemctl enable sshd.service
systemctl enable syncthing@naddan.service

# laptop services
{{- if eq .chassistype "laptop" }}
systemctl enable bluetooth.service
systemctl enable tlp.service
{{- end }}
echo "==> SYSTEM SERVICES ENABLED"
{{- end -}}
