#!/bin/bash

BLOCK_FILE="$HOME/.cache/chezmoi-paru"

# check if this script has already been ran
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

# download and setup paru
echo "==> CHEZMOI: STARTING PARU INSTALL"

git clone https://aur.archlinux.org/paru.git /tmp/paru
cd /tmp/paru
makepkg -si --noconfirm

echo "==> CHEZMOI: PARU INSTALL COMPLETE"
