{{- if not (stat (joinPath .chezmoi.homeDir ".cache/chezmoi-root")) -}}
#!/usr/bin/zsh
# vim: ft=zsh

BLOCK_FILE="$HOME/.cache/chezmoi-root"

# check if this script has already been ran. Unnecessary with chezmoi template, but better safe than sorry
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

# run this script only as root, only after performing the above check
if [ "$EUID" != 0 ]; then
    echo "==> CHEZMOI: EXECUTING ROOT-ONLY SETUP"
    sudo "$0" "$@"
    exit $?
fi

### SPECIAL PRINT FUNCTIONS ###
ssp() {
    echo -en "\033[1m"
    echo -en "\033[32m"
    echo -n "==> "
    echo -en "\033[39m"
    echo -en "CHEZMOI: ${1}"
    echo -e "\033[0m"
}

sp() {
    echo -en "\033[1m"
    echo -en "\033[34m"
    echo -n "  -> "
    echo -en "\033[39m"
    echo -en "$1"
    echo -e "\033[0m"
}

# Run config setup stuff that can only be done as root

ssp "WRITING SYSTEM SCRIPTS"

{{- if eq .chassistype "desktop" }}
sp "Writing win-reboot-now script"

cat >>/usr/local/bin/win-reboot-now <<EOL
#!/bin/bash

# run this script only as root
if [ "\$EUID" != 0 ]; then
    sudo "\$0" "\$@"
    exit \$?
fi

efibootmgr -qn 0
systemctl reboot
EOL

chmod +x /usr/local/bin/win-reboot-now
{{- end }}

ssp "WRITING SYSTEM CONFIG FILES"

{{- if eq .chassistype "desktop" }}
sp "Writing win-reboot-now sudoer file"

cat >>/etc/sudoers.d/20-win-reboot <<EOL
greeter ALL=(ALL:ALL) NOPASSWD: /usr/local/bin/win-reboot-now
%sudo ALL=(ALL:ALL) NOPASSWD: /usr/local/bin/win-reboot-now
EOL

sp "Writing hamachi override for haguichi"

mkdir -p /var/lib/logmein-hamachi
cat >>/var/lib/logmein-hamachi/h2-engine-override.cfg <<EOL
Ipc.User {{ .chezmoi.username -}}
EOL
{{- end }}

# sshd
sp "Writing SSHD config"
mkdir -p /etc/ssh/sshd_config.d

cat >>/etc/ssh/sshd_config.d/10-chezmoi.conf <<EOL
Port 22
PermitRootLogin no
MaxAuthTries 3
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
TCPKeepAlive yes
Compression delayed
EOL

# greetd
sp "Writing greetd config"
rm /etc/greetd/config.toml
cat >>/etc/greetd/config.toml <<EOL
[terminal]
vt = 1
[default_session]
{{- if eq .chassistype "desktop" }}
command = "tuigreet --remember --remember-session --power-reboot '/usr/local/bin/win-reboot-now'"
{{- else }}
command = "tuigreet --remember --remember-session"
{{- end }}
user = "greeter"
EOL

# systemd
sp "Writing systemd configs"
mkdir -p /etc/systemd/system.conf.d

{{- if eq .chassistype "laptop" }}
cat >>/etc/systemd/system.conf.d/10-chezmoi-framework.conf <<EOL
[Manager]
RebootWatchdogSec=0
EOL
{{- end }}

cat >>/etc/systemd/system.conf.d/20-chezmoi.conf <<EOL
[Manager]
DefaultTimeoutStopSec=10s
EOL

mkdir -p /etc/systemd/logind.conf.d

cat >>/etc/systemd/logind.conf.d/10-chezmoi.conf <<EOL
[Login]
HandlePowerKey=ignore
HandleSuspendKey=suspend
HandleHibernateKey=ignore
HandleLidSwitch=suspend
HandleLidSwitchExternalPower=ignore
HandleLidSwitchDocked=ignore
HandleRebootKey=ignore
IdleAction=suspend
IdleActionSec=300
EOL

# automount things
{{- if eq .chassistype "desktop" }}
cat >>/etc/systemd/system/mnt-oldbackup.mount <<EOL
[Unit]
Description=Mount /mnt/oldbackup on demand
After=network.target network-online.target remote-fs-pre.target nss-lookup.target

[Mount]
What=//nas.baywood.cc/oldbackup
Where=/mnt/oldbackup
Options=_netdev,credentials=/etc/samba/credentials/nas,iocharset=utf8,rw,noauto,uid=1000,gid=1001
Type=cifs
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target
EOL
cat >>/etc/systemd/system/mnt-oldbackup.automount <<EOL
[Unit]
Description=Automount /mnt/oldbackup
After=network.target network-online.target remote-fs-pre.target nss-lookup.target

[Automount]
Where=/mnt/oldbackup

[Install]
WantedBy=multi-user.target
EOL
cat >>/etc/systemd/system/mnt-public.mount <<EOL
[Unit]
Description=Mount /mnt/public on demand
After=network.target network-online.target remote-fs-pre.target nss-lookup.target

[Mount]
What=//nas.baywood.cc/public
Where=/mnt/public
Options=_netdev,credentials=/etc/samba/credentials/nas,iocharset=utf8,rw,noauto,uid=1000,gid=1001
Type=cifs
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target
EOL
cat >>/etc/systemd/system/mnt-public.automount <<EOL
[Unit]
Description=Automount /mnt/public
After=network.target network-online.target remote-fs-pre.target nss-lookup.target

[Automount]
Where=/mnt/public

[Install]
WantedBy=multi-user.target
EOL
cat >>/etc/systemd/system/mnt-win.mount <<EOL
[Unit]
Description=Mount /mnt/win on demand

[Mount]
What=/dev/sdc2
Where=/mnt/win
Options=noexec,nosuid,iocharset=utf8,rw,noauto,uid=1000,gid=1001
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target
EOL
cat >>/etc/systemd/system/mnt-win.automount <<EOL
[Unit]
Description=Automount /mnt/win

[Automount]
Where=/mnt/win

[Install]
WantedBy=multi-user.target
EOL

mkdir -p /etc/samba/credentials
chmod 700 /etc/samba/credentials
cat >>/etc/samba/credentials/nas <<EOL
username=
password=
EOL
chmod 400 /etc/samba/credentials/nas

cat >>/home/{{- .chezmoi.username -}}/.cache/chezmoi-reminders.zsh <<EOL
echo "Edit the Samba credentials file at /etc/samba/credentials/nas"
echo "It should contain the following:"
echo
echo "username=<samba_username>"
echo "password=<samba_password>"
EOL
{{- end }}

# reflector
sp "Writing reflector config"
mkdir -p /etc/xdg/reflector
cat >>/etc/xdg/reflector/reflector.conf <<EOL
--save /etc/pacman.d/mirrorlist
--protocol https
--country "United States"
--latest 5
--sort rate
EOL

### INIT SERVICES ###
ssp "ENABLING SERVICES"

sp "Enabling systemd services"
systemctl enable sshd.service
systemctl enable --now reflector.timer

{{ if not (eq .chassistype "wsl") }}
sp "Enabling non-WSL services"
systemctl enable greetd.service
systemctl enable syncthing@{{- .chezmoi.username -}}.service
systemctl enable logmein-hamachi.service
{{- end }}

# desktop services
{{- if eq .chassistype "laptop" }}
sp "Enabling desktop systemd services"
systemctl enable mnt-oldbackup.automount
systemctl enable mnt-public.automount
systemctl enable mnt-win.automount
{{- end }}

# laptop services
{{- if eq .chassistype "laptop" }}
sp "Enabling laptop systemd services"
systemctl enable bluetooth.service
systemctl enable tlp.service
{{- end }}
ssp "ROOT SETUP SCRIPT COMPLETE"
{{- end -}}
