{{- if not (eq .chassistype "wsl") -}}
$bg: #282828;
$bg-alt: #3c3836;
$bg-alt2: #ebdbb2;
$fg: #ffffff;
$fg-alt: #ebdbb2;
$red: #ea6962;
$green: #a9b665;
$yellow: #d8a657;
$orange: #d65d0e;
$blue: #7daea3;
$purple: #d3869b;
$cyan: #689d6a;
$gray: #d4be98;
$gray-alt: #a89984;

@import "./main/eww.scss";
{{- end }}
