# vim: ft=toml
{{- $installChoices := (list "full" "term") }}
{{- $profileChoices := (list "workstation" "laptop") }}
{{- $installProfile := "workstation" }}
{{- $installType := (promptChoice "What kind of install do you want?" $installChoices) }}
{{- if (eq $installType "term") }}
{{-     writeToStdout "\nYou've chosen a chassis type that expects numerous dependencies to be installed, available in the path:\n" }}
{{-     writeToStdout "curl, git, ssh, zsh\n" }}
{{- else if (eq $installType "full") }}
{{-     if not (eq .chezmoi.osRelease.id "arch") }}
{{-         writeToStdout (cat "chezmoi has detected that this is not an Arch Linux system, disabling install scripts...\n") }}
{{-         output "sh" (joinPath .chezmoi.workingTree "/install/disable-install.sh") }}
{{-     else }}
{{-         writeToStdout "\nIf you don't want the setup scripts to run automatically,\nensure you execute " .chezmoi.workingTree "/install/disable-install.sh prior to running \"chezmoi apply\"\n" }}
{{-     end }}
{{-     $installProfile = (promptChoice "What kind of install profile do you want?" $profileChoices) }}
{{- end }}

{{- $email := (promptString "Enter git email address:") }}

[data]
{{- if (eq $installType "full") }}
    firefoxhash = {{ mozillaInstallHash "/usr/lib/firefox" | quote }}
{{- end }}
    installtype = {{ $installType | quote }}
    installprofile = {{ $installProfile | quote }}
    gitemail = {{ $email | quote }}
