{{- if (eq .installtype "term") -}}
{{- $cache := dict "chezmoi" .chezmoi -}}

# grug grow weary of old package version in Ubuntu repo all time

[".local/bin/rg"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "BurntSushi/ripgrep" "ripgrep-*-x86_64-unknown-linux-musl.tar.gz" | quote }}
stripComponents = 1
executable = true
path = "rg"

[".local/bin/eza"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "eza_x86_64-unknown-linux-musl.tar.gz" | quote }}
executable = true
path = "./eza"

[".local/bin/bat"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "sharkdp/bat" "bat-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
stripComponents = 1
executable = true
path = "bat"

[".local/bin/fd"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "sharkdp/fd" "fd-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
stripComponents = 1
executable = true
path = "fd"

[".local/bin/fzf"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "junegunn/fzf" "fzf-*-linux_amd64.tar.gz" | quote }}
executable = true
path = "fzf"

[".local/bin/zoxide"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "ajeetdsouza/zoxide" "zoxide-*-x86_64-unknown-linux-musl.tar.gz" | quote }}
executable = true
path = "zoxide"

[".local/bin/lazygit"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "jesseduffield/lazygit" "lazygit_*_linux_x86_64.tar.gz" | quote }}
executable = true
path = "lazygit"

[".local/share/chezmoi-cache/nvim"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "neovim/neovim" "nvim-linux-x86_64.tar.gz" | quote }}
stripComponents = 1

[".local/bin/jira"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "ankitpokhrel/jira-cli" "jira_*_linux_x86_64.tar.gz" | quote }}
stripComponents = 1
executable = true
path = "bin/jira"

[".local/bin/hexyl"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "sharkdp/hexyl" "hexyl-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
stripComponents = 1
executable = true
path = "hexyl"

[".local/bin/vivid"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "sharkdp/vivid" "vivid-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
stripComponents = 1
executable = true
path = "vivid"

[".local/bin/dust"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "bootandy/dust" "dust-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
stripComponents = 1
executable = true
path = "dust"

[".local/bin/biodiff"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "8051Enthusiast/biodiff" "biodiff-linux-*.zip" | quote }}
executable = true
path = "biodiff"

[".local/bin/dtop"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "amir20/dtop" "dtop-x86_64-unknown-linux-gnu.tar.gz" | quote }}
executable = true
path = "dtop-x86_64-unknown-linux-gnu/dtop"

{{- end -}}
