# vim: ft=toml
{{- $profileChoices := (list "terminal" "workstation" "laptop") }}
{{- $installProfile := "terminal" }}
{{- $installProfile := (promptChoice "Which profile do you want to install?" $profileChoices) }}
{{- if not (eq .chezmoi.osRelease.id "arch") }}
{{-     writeToStdout (cat "chezmoi has detected that this is not an Arch Linux system, disabling install scripts...\n") }}
{{-     output "sh" (joinPath .chezmoi.workingTree "/install/disable-install.sh") }}
{{- else }}
{{-     writeToStdout "\nIf you don't want the setup scripts to run automatically,\nensure you execute " .chezmoi.workingTree "/install/disable-install.sh prior to running \"chezmoi apply\"\n" }}
{{- end }}

{{- $name := (promptString "Enter git name:") }}
{{- $email := (promptString "Enter git email address:") }}

[data]
{{- if not (eq $installProfile "terminal") }}
    firefoxhash = {{ mozillaInstallHash "/usr/lib/firefox" | quote }}
{{- end }}
    installprofile = {{ $installProfile | quote }}
    gitemail = {{ $email | quote }}
    gitname = {{ $name | quote }}

{{- if (eq $installType "term") }}
{{-     writeToStdout "\nYou've chosen a chassis type that expects numerous dependencies to be installed, available in the path:\n" }}
{{-     writeToStdout "build-essential, curl, git, ssh, zsh\n" }}
{{-     writeToStdout "It is also expected that Zsh is the default shell for your user account" }}
{{- end }}
