# vim: ft=zsh
# local bin
export PATH="$HOME/.local/bin:$PATH:$HOME/.local/share/n/bin"

# Neovim is my beautiful child
export VISUAL=/usr/bin/nvim
export EDITOR=/usr/bin/nvim

export JIRA_AUTH_TYPE="bearer"

# Misc stuffs
export MAKEFLAGS="-j$(nproc)"
export WINEFSYNC=1
export BAT_THEME="gruvbox-dark"
export LS_COLORS="$(vivid generate gruvbox-dark-hard)"
[[ -f "$HOME/.local/env/shared-vars.zsh" ]] && source "$HOME/.local/env/shared-vars.zsh"
