# vim: ft=zsh
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

if [ -f "${XDG_CACHE_HOME:-$HOME}/.cache/chezmoi-reminders.zsh" ]; then
    source "${XDG_CACHE_HOME:-$HOME}/.cache/chezmoi-reminders.zsh"
fi

HISTFILE=~/.histfile
HISTSIZE=5000
SAVEHIST=5000
unsetopt beep
bindkey -e
zstyle ':completion:*' completer _complete _ignored
zstyle :compinstall filename '{{- .chezmoi.homeDir -}}/.zshrc'

autoload -Uz compinit
compinit

#######################
# My code starts here #
#######################

# Zsh Settings
setopt INC_APPEND_HISTORY
setopt HIST_IGNORE_DUPS
setopt correct
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
scroll-and-clear-screen() {
    printf "\n%.0s" {1..$LINES}
    zle clear-screen
}
zle -N scroll-and-clear-screen
bindkey "^l" scroll-and-clear-screen
bindkey "\e[H" beginning-of-line
bindkey "\e[3~" delete-char
bindkey "\e[F" end-of-line

# Completions
source <(fzf --zsh)
zstyle ':completion:*:*:*:default' menu yes select search

# Aliases
alias ls="eza --icons"
alias ll="ls --long --header"
alias la="ls --long --header --all"
alias chezgit="lazygit -p ~/.local/share/chezmoi"
alias cedit="chezmoi edit"
alias lg="lazygit"
alias disablehistory="function zshaddhistory(){ return 1 }"
alias enablehistory="unset -f zshaddhistory"
alias cat="bat"

{{- if (eq .installtype "full") }}
### Arch Linux support
alias df="duf"
alias top="btm"
alias ps="procs"
### kitty support
alias clip="kitty +kitten clipboard"
alias c="pwd | clip"
alias ssh="TERM=xterm-256color ssh"
alias kssh="kitty +kitten ssh"
alias icat="kitty +kitten icat"
{{- end }}

# Plugins
eval "$(zoxide init zsh --cmd j)"
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

### Added by Zinit's installer
if [[ ! -f $HOME/.local/share/zinit/zinit.git/zinit.zsh ]]; then
    print -P "%F{33} %F{220}Installing %F{33}ZDHARMA-CONTINUUM%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p "$HOME/.local/share/zinit" && command chmod g-rwX "$HOME/.local/share/zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.local/share/zinit/zinit.git" && \
        print -P "%F{33} %F{34}Installation successful.%f%b" || \
        print -P "%F{160} The clone has failed.%f%b"
fi

source "$HOME/.local/share/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Load a few important annexes, without Turbo
# (this is currently required for annexes)
zinit light-mode for \
    zdharma-continuum/zinit-annex-as-monitor \
    zdharma-continuum/zinit-annex-bin-gem-node \
    zdharma-continuum/zinit-annex-patch-dl \
    zdharma-continuum/zinit-annex-rust

### End of Zinit's installer chunk
zinit wait lucid blockf for \
    zsh-users/zsh-autosuggestions

# zsh-autosuggestions config
bindkey '^[[Z' autosuggest-accept # shift-tab
bindkey '^ '   autosuggest-execute # ctrl-space

export N_PREFIX="$HOME/.local/share/n"; [[ :$PATH: == *":$N_PREFIX/bin:"* ]] || PATH+=":$N_PREFIX/bin"
zinit ice depth=1; zinit light romkatv/powerlevel10k
