# vim: ft=gitconfig
[user]
    email = {{ .gitemail }}
    name = Ty Rieckmann
[init]
    defaultBranch = master
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
{{ if (eq .installtype "full") }}
[credential]
    helper = keepassxc --git-groups
{{- end }}
