# vim:fileencoding=utf-8:ft=conf:foldmethod=marker

include colors-kitty.conf

font_family JetBrains Mono
{{- if eq .chezmoi.hostname "tacitus" }}
font_size 16.0
wheel_scroll_multiplier 10.0
{{- else }}
font_size 11.0
wheel_scroll_multiplier 5.0
{{- end }}
disable_ligatures never

cursor_text_color background
cursor_shape beam
cursor_blink_interval 0.6
cursor_stop_blinking_after 0

url_style single
open_url_with /usr/bin/firefox

sync_to_monitor yes

tab_bar_edge top
tab_bar_style powerline

allow_remote_control socket-only

kitty_mod ctrl+shift
map kitty_mod+c copy_to_clipboard
map kitty_mod+w close_tab
map kitty_mod+h previous_tab
map kitty_mod+l next_tab
map kitty_mod+t new_tab_with_cwd
# map ctrl+l combine : clear_terminal scroll active : send_text normal,application
