{{- if (eq .installtype "full") -}}
#!/usr/bin/zsh
# vim: ft=zsh

{{ template "print.zsh" }}

function keepalive_sudo(){
    while true; do
        sudo -v
        # keep sleep under 60 seconds, since that's the shortest sudo's timeout can be set for,
        # aside from always requiring the password. But I don't do that. :)
        sleep 50
    done
}

function install_paru(){
    sp "Updating package databases"
    sudo pacman -Sy

    sp "Installing necessary utilities"
    sudo pacman -Sy --noconfirm --needed base-devel git rustup

    sp "Installing latest Rust toolchain"
    rustup toolchain install stable

    # download and setup paru
    sp "Starting paru install"

    git clone https://aur.archlinux.org/paru.git /tmp/paru
    cd /tmp/paru
    makepkg -si --noconfirm
}

# prevent shell from not closing due to keepalive_sudo
trap 'kill $(jobs -pr)' SIGINT SIGTERM EXIT

ssp "One-time sudo prompt"
keepalive_sudo &

if [ ! $(command -v paru) ]; then
    ssp "Installing paru"
    install_paru
fi

if [ ! $(command -v reflector) ]; then
    ssp "Installing reflector"
    paru -Sy --needed --noconfirm reflector
    sp "Finding mirrors"
    # cat {{ .chezmoi.config.workingTree }}/root/etc/xdg/reflector/reflector.conf | xargs sudo reflector
    sudo systemctl start reflector
fi

ssp "Installing system packages"

{{ if eq .installprofile "workstation" }}
paru -Sy --needed {{ .default | join " " }} {{ .workstation | join " " }}
{{ else if eq .installprofile "laptop" }}
paru -Sy --needed {{ .default | join " " }} {{ .laptop | join " " }}
{{ end }}

ssp "Installing Neovim plugins"
nvim --headless "+Lazy! sync" +qa

BLOCK_FILE="$HOME/.cache/chezmoi-setup"

# check if this script has already been ran.
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

ssp "Executing one-time setup"

# create extra home folders
sp "Setting up extra home folders"
xdg-user-dirs-update
mkdir "$HOME/rsync"
mkdir "$HOME/notes"

sp "Installing Git LFS"
git lfs install

# enable services
sp "Enabling user services"
systemctl --user daemon-reload
systemctl --user enable pipewire.service
systemctl --user enable pipewire-pulse.service
systemctl --user enable wireplumber.service
systemctl --user enable ssh-agent.service

sp "Enabling system services"
systemctl enable sddm.service
systemctl enable sshd.service
systemctl enable reflector.timer
systemctl enable syncthing@{{- .chezmoi.username -}}.service
systemctl enable logmein-hamachi.service

{{ if eq .installprofile "workstation" }}
systemctl enable srv-backup.automount
systemctl enable srv-oldbackup.automount
systemctl enable srv-public.automount
systemctl enable unmodeset.service

{{ if (stat "/boot/vmlinuz-linux-lts") }}
systemctl enable kexec-load@linux-lts.service
{{- else if (stat "/boot/vmlinuz-linux") }}
systemctl enable kexec-load@linux.service
{{ else }}
sp "No kernel found to set for kexec-load service. Will need to be enabled manually."
{{ end }}

{{ else if eq .installprofile "laptop" }}
systemctl enable bluetooth.service
systemctl enable tlp.service
{{ end }}


### CHEZMOI REMINDERS ###
sp "Generating post-install reminder file"
cat >>~/.cache/chezmoi-reminders.zsh <<EOL
#!/usr/bin/zsh

echo "Don't forget to configure the following stuff and things when you're ready:"
echo

echo "Edit the systemd network config file at /etc/systemd/network/50-wired.link"
echo "Ensure to update the MAC address for the ethernet card"
echo

echo "Edit the Samba credentials file at /etc/samba/credentials/nas"
echo "It should contain the following:"
echo
echo "username=<samba_username>"
echo "password=<samba_password>"
echo

echo "After syncing password database with Syncthing, unlock it and run:"
echo "\$ git-credential-keepassxc configure"
echo

echo "Setup Spotify with spotify-launcher."

echo "To stop these reminders, run:"
echo "rm \${0}"
EOL

ssp "Full install complete. Probably want to reboot."

exec zsh
{{- end }}
