{{- if (eq .installtype "term") -}}
{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/zsh
# vim: ft=zsh

BLOCK_FILE="$HOME/.cache/chezmoi-setup"

{{ template "print.zsh" }}

ssp "STARTING MACOS TERMINAL SETUP"

# TODO: convert chezmoi JSON data to Homebrew bundle format
# brew bundle check --file=/dev/stdin || brew bundle install --file=/dev/stdin

ssp "MACOS TERMINAL INSTALL COMPLETE"

# check if this script has already been ran.
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

ssp "STARTING ONE-TIME SETUP"

# one-time setup things
sp "Starting headless Neovim install"
nvim --headless "+Lazy! sync" +qa

sp "Initializing git-lfs"
git lfs install

### CHEZMOI REMINDERS ###
sp "Generating post-install reminder file"
cat >>~/.cache/chezmoi-reminders.zsh <<EOL
#!/usr/bin/zsh

echo "Don't forget to configure the following stuff and things when you're ready:"

echo "Change the URL for remote origin to SSH"
echo

echo "To stop these reminders, run:"
echo "rm \${0}"
EOL

ssp "MACOS TERMINAL SETUP COMPLETE"

exec zsh
{{- end }}
{{- end }}
