{{- if (eq .installtype "term") -}}
#!/usr/bin/zsh
# vim: ft=zsh

{{ template "print.zsh" }}

ssp "STARTING TERMINAL SETUP"



sp "Installing Rust stable toolchain"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

sp "Installing Node.js stable toolchain"
curl -kL "https://raw.githubusercontent.com/mklement0/n-install/stable/bin/n-install" | N_PREFIX=~/.local/share/n bash -s -- -y

sp "Starting headless Neovim install"
nvim --headless "+Lazy! sync" +qa



### CHEZMOI REMINDERS ###
sp "Generating post-install reminder file"
cat >>~/.cache/chezmoi-reminders.zsh <<EOL
#!/usr/bin/zsh

echo "Don't forget to configure the following stuff and things when you're ready:"

echo "Install git-lfs"

echo "To stop these reminders, run:"
echo "rm \$\{0\}"
EOL



ssp "TERMINAL SETUP COMPLETE"

{{- end }}
