{{- if (eq .installtype "term") -}}
#!/usr/bin/zsh
# vim: ft=zsh

BLOCK_FILE="$HOME/.cache/chezmoi-setup"

# check if this script has already been ran.
if [ -f "${BLOCK_FILE}" ]; then
    exit 0
else
    if [ "$EUID" != 0 ]; then
        mkdir -p "$(dirname $(realpath -m ${BLOCK_FILE}))"
        touch "${BLOCK_FILE}"
    fi
fi

{{ template "print.zsh" }}

ssp "STARTING TERMINAL SETUP"

echo "-k" > ~/.curlrc

sp "Installing Rust stable toolchain"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

sp "Installing tree-sitter cli"
cargo install --locked tree-sitter-cli

sp "Installing Node.js stable toolchain"
curl -kL "https://raw.githubusercontent.com/mklement0/n-install/stable/bin/n-install" | N_PREFIX=~/.local/share/n bash -s -- -y

sp "Installing uv and uvx for Python"
curl -LsSf https://astral.sh/uv/install.sh | sh

rm ~/.curlrc

sp "Starting headless Neovim install"
nvim --headless "+Lazy! sync" +qa



### CHEZMOI REMINDERS ###
sp "Generating post-install reminder file"
cat >>~/.cache/chezmoi-reminders.zsh <<EOL
#!/usr/bin/zsh

echo "Don't forget to configure the following stuff and things when you're ready:"

echo "Install git-lfs"
echo

echo "Change the URL for remote origin to SSH"
echo

echo "To stop these reminders, run:"
echo "rm \${0}"
EOL



ssp "TERMINAL SETUP COMPLETE"

exec zsh
{{- end }}
