{{- if (eq .installtype "full") -}}
#!/usr/bin/zsh
# vim: ft=zsh

{{ template "print.zsh" }}

ssp "UPDATING PACKAGE DATABASES"
sudo pacman -Sy

ssp "INSTALLING NECESSARY UTILITIES"
sudo pacman -S base-devel git rustup

ssp "Installing latest Rust toolchain"
rustup toolchain install stable

# download and setup paru
ssp "STARTING PARU INSTALL"

git clone https://aur.archlinux.org/paru.git /tmp/paru
cd /tmp/paru
makepkg -si --noconfirm

ssp "PARU INSTALL COMPLETE"



ssp "Installing system packages"

# TODO: actually do this stuff

ssp "Install complete."

{{- end }}
