* {
    all: unset;
    transition: 100ms ease-out;
    font-family: "JetBrainsMono";
}

.main-window {
    background-color: rgba(0, 0, 255, 0);
    margin: 40px;
}

.greeting-box {
    margin: 0px 20px 20px 0px;
    background-color: $bg;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 0 5px black;
}

.greeting-img {
    background-color: #ff0000;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.greeting-stuff {
    font-size: 22px;
    color: $fg;
}

.greeting-name {
    padding: 30px 0px 0px 0px;
    font-weight: bold;
    color: $fg;
}

.greeting-username {
    padding: 30px 0px 0px 0px;
    color: $fg-alt;
}

.weather-box {
    margin: 0px 20px 20px 0px;
    background-color: $bg;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 5px black;
}

.weather-temp {
    font-size: 64px;
}

.weather-icon {
    margin-right: 50px;
}

.weather-temp-text {
    color: $fg;
    font-size: 80px;
}

.weather-feelslike {
    margin: 10px 0;
    font-size: 24px;
    color: $fg-alt;
}

.weather-extra {
    font-size: 24px;
    color: $fg-alt;
}

.weather-extra-icon, .weather-icon {
    color: $blue;
}

.weather-extra-icon {
    margin-right: 20px;
}

.weather-precip {
    font-size: 24px;
}

.datetime-box {
    background-color: $bg;
    margin: 0 20px 20px 0;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 5px black;
}

.datetime-time {
    font-size: 48px;
    font-weight: bold;
}

.datetime-date {
    font-size: 22px;
    color: $fg-alt;
}

.stats-box {
    margin: 0px 20px 0px 0px;
    background-color: $bg;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 0 5px black;
}

.cpu-icon {
    font-size: 48px;
    color: $fg-alt;
}

.stats-text {
    font-size: 22px;
    color: $fg-alt;
}

.cpu-scale trough, .mem-scale trough, .temp-scale trough {
    background-color: $bg-alt;
    min-height: 10px;
    border-radius: 15px;
    margin-left: 30px;
}

.cpu-scale highlight {
    background-color: $red;
    border-radius: 15px;
}

.mem-scale highlight {
    background-color: $green;
    border-radius: 15px;
}

.temp-scale highlight {
    background-color: $yellow;
    border-radius: 15px;
}

.mem-stats, .temp-stats {
    margin-top: 40px;
}

.net-cont {
    margin-top: 40px;
    font-size: 64px;
    color: $fg-alt;
}

.net-text {
    margin-left: 10px;
    font-size: 24px;
}

.music-box {
    background-color: $bg;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 5px black;
}

.music-data-cont {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.music-title {
    font-size: 22px;
}

.music-artist {
    font-size: 18px;
    margin-top: 20px;
}

.music-album {
    margin-top: 10px;
    font-size: 16px;
}

.music-controls {
    border-radius: 15px;
    margin-top: 20px;
    color: $fg-alt;
    font-size: 48px;
}

.power-box, .storage-box {
    background-color: $bg;
    border-radius: 15px;
    padding: 20px;
    margin: 0 20px 20px 0;
    font-size: 84px;
    box-shadow: 0 0 5px black;
}

.disc-space {
    color: $gray-alt;
    background-color: $bg-alt;
    border-radius: 15px;
    font-size: 108px;
    margin-bottom: 10px;
}

.disc-space-text {
    color: $fg-alt;
    font-size: 48px;
}

.folder-row {
    margin: 5px 0;
    font-size: 28px;
}

.click-hover:hover {
    background-color: $bg-alt;
    border-radius: 30px;
}
