{{- if not (eq .chassistype "wsl") }}
{
    "label" : "shutdown",
    "action" : "systemctl poweroff",
    "text" : "[S]hutdown",
    "keybind" : "s"
}
{
    "label" : "suspend",
    "action" : "systemctl suspend",
    "text" : "S[u]spend",
    "keybind" : "u"
}
{
    "label" : "reboot",
    "action" : "systemctl reboot",
    "text" : "[R]eboot",
    "keybind" : "r"
}
{
    "label" : "logout",
    "action" : "loginctl terminate-user $USER",
    "text" : "[L]ogout",
    "keybind" : "l"
}
{{- end }}
