{{- if not (eq .chassistype "wsl") -}}
#!/bin/bash
# vim: ft=bash

PLAYER="spotify"
music_dir="/tmp/eww-music"
IMG_LOCATION="${music_dir}/img"
IMG_CACHE="${music_dir}/url"

## Make cache dir
if [[ ! -d "${music_dir}" ]]; then
	mkdir -p "${music_dir}"
fi

dl_img() {
    dl_url="$1"

    curl -sf "${dl_url}" -o "${IMG_LOCATION}"

    if [[ $? == 0 ]]; then
        echo "${dl_url}" > ${IMG_CACHE}
        convert "${IMG_LOCATION}" -brightness-contrast -50,-50 -blur 0x4 "${IMG_LOCATION}"
        IMG_PATH="${IMG_LOCATION}"
    else
        IMG_PATH=""
    fi
}

get_img() {
    data=$(playerctl -s --player=$PLAYER metadata mpris:artUrl)

    if [ ! -z "${data}" ]; then
        if [[ -f "${IMG_LOCATION}" ]]; then
            url=$(cat "${IMG_CACHE}")
            if [ "${url}" == "${data}" ]; then
                IMG_PATH="${IMG_LOCATION}"
            else
                dl_img "${data}"
            fi
        else
            dl_img "${data}"
        fi
    else
        IMG_PATH=""
    fi
}

get_title() {
    data=$(playerctl -s --player=$PLAYER metadata xesam:title)

    if [ ! -z "${data}" ]; then
        TITLE="${data}"
    else
        TITLE="Nothing is playing."
    fi
}

get_artist() {
    data=$(playerctl -s --player=$PLAYER metadata xesam:artist)

    if [ ! -z "${data}" ]; then
        ARTIST="${data}"
    else
        ARTIST=""
    fi
}

get_album() {
    data=$(playerctl -s --player=$PLAYER metadata xesam:album)

    if [ ! -z "${data}" ]; then
        ALBUM="${data}"
    else
        ALBUM=""
    fi
}

get_status() {
    data=$(playerctl -s --player=$PLAYER status)

    if [ "${data}" == "Playing" ]; then
        ICON=""
    else
        ICON="契"
    fi
}

toggle_music() {
    playerctl -s --player=$PLAYER play-pause
}

next_music() {
    playerctl -s --player=$PLAYER next
}

back_music() {
    playerctl -s --player=$PLAYER previous
}

## Options
if [[ "$1" == "img" ]]; then
    get_img
    echo "${IMG_PATH}"
elif [[ "$1" == "title" ]]; then
    get_title
    echo "${TITLE}"
elif [[ "$1" == "artist" ]]; then
    get_artist
    echo "${ARTIST}"
elif [[ "$1" == "album" ]]; then
    get_album
    echo "${ALBUM}"
elif [[ "$1" == "status" ]]; then
    get_status
    echo "${ICON}"
elif [[ "$1" == "toggle" ]]; then
    toggle_music
elif [[ "$1" == "next" ]]; then
    next_music
elif [[ "$1" == "back" ]]; then
    back_music
fi
{{- end }}
