# vim: ft=conf
{{- if eq .chassistype "desktop" -}}
### Output configuration
set $monprimary DP-2
set $monsecondary DP-3
set $montertiary DP-1

output * scale 1
output $monprimary mode 1920x1080@144.001Hz
output $monprimary pos 0 1080 res 1920x1080
output $monsecondary mode 1920x1080@144.001Hz
output $monsecondary pos 1920 1080 res 1920x1080
output $montertiary mode 1920x1080@144.001Hz
output $montertiary pos 960 0 res 1920x1080

### Workspace configuration
workspace 1 output $monprimary
workspace 2 output $monprimary
workspace 3 output $monsecondary
workspace 4 output $monsecondary
workspace 8 output $montertiary
workspace 9 output $montertiary
workspace 10 output $montertiary

### Key bindings
mode "ewwmenu" {
    bindsym $alt+w exec win-reboot-now
}
bindsym Print exec --no-startup-id grimshot copy area
{{- end -}}
{{- if eq .chassistype "laptop" -}}
### Output configuration
set $monprimary eDP-1

output * scale 1
output $monprimary mode 2256x1504@59.999Hz
output $monprimary pos 0 0 res 2256x1504

### Workspace configuration
workspace 1 output $monprimary
workspace 2 output $monprimary
workspace 3 output $monprimary
workspace 4 output $monprimary
workspace 8 output $monprimary
workspace 9 output $monprimary
workspace 10 output $monprimary

### Input configuration
input type:touchpad {
    tap enabled
    drag enabled
    natural_scroll enabled
    pointer_accel 0.15
    dwt enabled
}

### Key bindings
bindsym XF86MonBrightnessUp exec brightnessctl -q -d intel_backlight s 5%+
bindsym XF86MonBrightnessDown exec brightnessctl -q -d intel_backlight s 5%-
bindsym XF86AudioMedia exec keepassxc &
bindsym Print exec --no-startup-id flameshot gui
bindswitch lid:on exec systemctl suspend
{{- end -}}
