{{- if not (eq .chassistype "wsl") -}}
# Sway config

### Variables
set $mod Mod4
set $alt Mod1
set $left h
set $down j
set $up k
set $right l
set $term kitty
set $menu rofi -show combi -combi-modi "drun,ssh" -modi combi -normal-window | xargs swaymsg exec --

## Chassis-specific Config
include chassis-config

## Generic Config
# app workspace/screen locations
assign [app_id="firefox"] workspace 1
assign [app_id="kitty"] workspace 2
assign [app_id="pavucontrol"] workspace 3
assign [class="obsidian"] workspace 4
assign [app_id="org.polymc.PolyMC"] workspace 4
for_window [title="^Minecraft\*.*"] move container to workspace 2
for_window [class="discord"] move container to workspace 9
assign [app_id="org.keepassxc.KeePassXC"] workspace 10
assign [class="Spotify"] workspace 8
for_window [class="Rofi"] floating enable

### Key bindings
bindsym $mod+Escape exec wlogout --buttons-per-row 4
bindsym XF86PowerOff exec wlogout --buttons-per-row 4
bindsym $mod+t exec $term
bindsym $mod+q kill
bindsym $mod+r exec $menu
bindsym $mod+c exec rofi -show calc
bindsym $mod+p exec pavucontrol
bindsym $mod+$alt+l exec $lock
bindsym $mod+Shift+r reload
bindsym $mod+Shift+q exec swaynag -t warning -m 'Exit sway?' -b 'Yes' 'swaymsg exit'
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -10%
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +10%
bindsym Print exec --no-startup-id flameshot gui
bindsym $mod+Print exec --no-startup-id grimshot copy screen
bindsym $mod+Shift+Print exec --no-startup-id grimshot copy active

# Workspaces
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10
bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

# Move focus
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

# Move the focused window with the same, but add Shift
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# You can "split" the current object of your focus with
# $mod+b or $mod+v, for horizontal and vertical splits
# respectively.
bindsym $mod+b splith
bindsym $mod+v splitv

# Switch the current container between different layout styles
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Make the current focus fullscreen
bindsym $mod+f fullscreen

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+space focus mode_toggle

# Move focus to the parent container
bindsym $mod+a focus parent

# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# change default focus on login
exec swaymsg focus output $monprimary

### Lockscreen and idle configuration
set $lock /home/naddan/.local/bin/lockscreen
exec swayidle -w timeout 300 $lock before-sleep $lock idlehint 580

### Theming
output * bg /home/naddan/.config/sway/gruvbox_city.png fill
client.focused #ebdbb2 #ebdbb2 #ffffff #ebdbb2 #ebdbb2
smart_gaps on
gaps inner 50
gaps outer -10
gaps bottom 1
gaps top 1

### Misc extra stuff
input * xkb_numlock enable
seat seat0 xcursor_theme Adwaita 16
floating_modifier $mod normal
focus_follows_mouse yes
default_border pixel 2
hide_edge_borders smart
exec wl-paste -t text --watch clipman store
xwayland enable
workspace_auto_back_and_forth no

### Userspace stuffs
exec xrdb -load ~/.Xresources
exec /usr/bin/dunst &

### Status bar
bar {
    swaybar_command waybar
    position top
}

include /etc/sway/config.d/*
{{- end -}}
