[Unit]
Description=Mount /mnt/win on demand

[Mount]
What=/dev/sdc2
Where=/mnt/win
Options=noexec,nosuid,iocharset=utf8,rw,noauto,uid=1000,gid=1001
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target
